<style>
    body{
        background-color: beige;
    }
    h1{
        text-align: center;
        font-style: italic;
        font-size: 10px larger;
        color: brown;    
    }
    #quote{
        text-align: center;
        text-decoration: underline;
        color: rgb(119, 73, 4);
        margin-top: 3%;
    }
    button{
        color: brown;
        background-color: rgb(229, 220, 178);
        padding: 10px 10px;
       font-size: 16px ;
       cursor: pointer;
       border-radius: 8px;
       margin-top: 8%;
        
    }
    #quoteText {
      margin-top: 30px;
      font-size: 60px;
      font-weight: bold;
      color: rgb(92, 60, 10);
      display: none; /* Hidden until button clicked */
    }
    .box{
        border: 3px solid rgb(105, 87, 59);   /* Yellow border */
  padding:100px  200px;              /* Space inside the box */
  display: inline-block;      /* Shrink box to fit button */
  border-radius: 10px;        /* Rounded corners (optional) */
  margin: 40px;
  background-color: rgb(121, 125, 101);
    }
